<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%for(var i=0;i<data.length;i++){%>
        <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=data[i].name%></h5>
                  <h5 class="card-title"><%=data[i].rollno%></h5>
                  <h5 class="card-title"><%=data[i].adno%></h5>
                  <h5 class="card-title"><%=data[i].college%></h5>
                </div>
              </div>
              <%}%>
</body>
</html>